


@keyframes strokedash {
    0%{
        fill-opacity: 0;
        stroke-dasharray: 1, 1000;
        stroke-dashoffset: 0;
        stroke-width: 0;
        opacity: 1;
        transform: translate3d(0,-110px,0);
    }

    30%{
        fill-opacity: 0;
        stroke-dasharray: 150, 0;
        stroke-dashoffset: 0;
        stroke-width: 1;
        opacity: 1;
        transform: translate3d(0,-110px,0);
    }

    60%,90%{
        fill-opacity: 1;
        stroke-dasharray: 150, 0;
        stroke-dashoffset: 0;
        stroke-width: 0;
        opacity: 1;
        transform: translate3d(0,-110px,0)
    }

    100%{
        fill-opacity: 0;
        stroke-dasharray: 150, 0;
        stroke-dashoffset: 0;
        stroke-width: 0;
        opacity: 0;
        transform: translate3d(0,-110px,0)
    }
}

@keyframes strokedash-logo {
    0%{
        fill-opacity: 0;
        stroke-dasharray: 1, 1000;
        stroke-dashoffset: 0;
        stroke-width: 0;
        opacity: 1;
        transform: translate3d(0,70px,0);
    }

    70%{
        fill-opacity: 0;
        stroke-dasharray: 150, 0;
        stroke-dashoffset: 0;
        stroke-width: 1;
        opacity: 1;
        transform: translate3d(0,70px,0);
    }


    100%{
        fill-opacity: 1;
        stroke-dasharray: 150, 0;
        stroke-dashoffset: 0;
        stroke-width: 0;
        opacity: 1;
        transform: translate3d(0,70px,0)
    }
}

@keyframes xbox-shadow {
    0%,20%{
        filter: drop-shadow(0px 0px 0px rgba(247, 247, 247, 0))
        drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
    }

    40%,50%{
        filter: drop-shadow(0px 0px 30px rgba(247, 247, 247, 0.5))
        drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.5));
    }


    75%{
        filter: drop-shadow(0px 0px 0px rgba(247, 247, 247, 0))
        drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
    }

    100%{
        filter: drop-shadow(0px 0px 30px rgba(247, 247, 247, 0.5))
        drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.5));
    }
}


@keyframes xbox-color{
    0%{
        fill: #f7f7f7;
    }

    70%{
        fill: #f7f7f7;
    }


    100%{
        fill: #217721;
    }
}
